<phpunit bootstrap="../src/NObjects/autoload.php" colors="false">
    <testsuites>
        <testsuite name="NObjects">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>